@import '../../variables.scss';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.btn {
    cursor: pointer;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: $whiteColor;
    background-color: $greyColor;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    width: 40px;
    height: 40px;

    &--active {
        background-color: $greenColor;
    }
}