.oneRecipeContainer {
    /* background: linear-gradient(360deg, #211F20 0%, #746e6c 100%); */
    margin: 20px auto;
    width: 80%;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oneRecipeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 15px 0;
}

.oneRecipeHeaderName {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.oneRecipeHeaderCategory {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.oneRecipeImage {
    width: 100%;
}

.oneRecipeInstruction {
    width: 80%;
    padding: 20px 0;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #CFCFCF;
}

.oneRecipeFooter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
    width: 80%;
}

.oneRecipeIngridients {
    width: 80%;
    padding: 20px 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.oneRecipeOneIng {
    padding: 5px 15px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin: 5px 10px;
}