@import '../../variables.scss';

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $whiteColor;
    font-family: 'Gilroy';
    font-size: 15px;

    &__tabs {
        display: flex;
        width: 30%;
        margin-top: 40px;
        background: $greyGradient;
        border-radius: 10px 10px 0 0;
    }
}

.btnTab {
    background: $greyGradient;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $whiteColor;
    width: 50%;
    padding: 20px 0;
    cursor: pointer;
    border-radius: 0 10px 0 0;

    &:first-child {
        border-right: 1px solid $whiteColor;
        border-radius: 10px 0 0 0;
    }

    &--active {
        background: $greenGradient  !important;
    }
}

.form {
    padding: 0px 20px;
    width: 30%;
    background: $greyGradient;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    border-top: 1px solid $whiteColor;

    &__container {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $whiteColor;
        padding: 30px 0;
    }

    &__input {
        border-radius: 10px;
        border: $greyBorder;
        background: none;
        margin: 10px 0 0px 0;
        font-size: 16px;
        line-height: 19px;
        color: $whiteColor;
        padding: 10px 15px;
        outline: none;

        &:focus {
            outline: $focusOutline;
        }
    }

    &__invalidMessage {
        font-size: 16px;
        font-weight: 300;
        color: $redColor;
        margin: 0 0 20px 0;
        padding: 0;
    }

    &__label {
        margin-top: 15px;
    }
}

.btnForm {
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    background: $greenGradient;
    border-radius: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;
    color: $whiteColor;
    border: none;
    padding: 10px 25px;
    cursor: pointer;

    &:disabled {
        background: $darkGreyColor;
    }
}
